@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-image: url(img.jpg);
  height: 100vh;
  background-position: center center;
  background-size: cover;
}

.hero {
  width: 400px;
  height: 400px;
  border: 1px solid #9C6AE7;
  border-radius: 8px;
  margin: auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0);
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #FBFBFB;
}

.hero h2 {
  margin-top: 30px;
  font-size: 2rem;
  margin-bottom: 30px;
}

.hero> :nth-child(2),
.hero> :nth-child(3) {
  width: 78%;
  padding: 9px 15px;
  border: 1px solid #9C6AE7;
  background-color:rgba(255, 255, 255, 0);
  border-radius: 30px;
  color: #FBFBFB;
}

.hero input:focus {
  outline: none;
}

.hero input::placeholder {
  color: #FBFBFB;
}

.hero :nth-child(2) {
  margin-bottom: 28px;
}

.hero a {
  color: #FBFBFB;
  font-size: 0.8rem;
  text-decoration: none;
}

.hero a:hover {
  text-decoration: underline;
}

.hero button {
  border: none;
  width: 78%;
  padding: 9px 15px;
  border-radius: 30px;
  font-weight: 500;
  cursor: pointer;
}

.remember {
  margin-top: 15px;
  margin-bottom: -15px;
  display: flex;
  justify-content: space-between;
  width: 80%;
  font-size: 0.8rem;
}

.check {
  display: flex;
}

.register {
  margin: 20px 0;
  font-size: 0.8rem;
}

.register b {
  font-weight: 500;
}

.checkbox {
  display: flex;
  gap: 5px;
}

.remember input {
  position: relative;
  bottom: 14px;
}

.icon1 {
  position: absolute;
  top: 29.3%;
  right: 16%;
}

.icon2 {
  position: absolute;
  top: 46%;
  right: 16%;
}
